body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

button {
  background: #333;
  color: white;
  border: none;
  padding: 20px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #555;
}
